var HTML = `<div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="/products/<%= @product.id %>"><img src=/<%= @product.image %> class="img-thumbnail"></a>
              <div class="card-body">
                <p class="card-text"><%= @product.name %></p>
                <p class="card-text"><%= @product.price %>円</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "詳細", @product, class: 'btn btn-sm btn-outline-secondary' %>
                    <%= link_to "編集", edit_product_path(@product), class: 'btn btn-sm btn-outline-secondary' %>
                    <%= link_to "削除", product_path(@product), method: :delete, class: 'btn btn-sm btn-outline-secondary', remote: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>`
$("#products-zone").prepend(HTML);
$("#product_name").val('')
$("#product_price").val('')
$("#product_stock").val('')
$("#product_note").val('')
$("#product_image").val('')
