<p id="notice"><%= notice %></p>
<main role="main">
  <section class="text-center">
    <div class="container">
      <h1 class="jumbotron-heading">商品一覧</h1>
    </div>
  </section>

<%= link_to '商品を追加する', new_product_path, class: 'btn btn-secondary' %>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="/products/<%= product.id %>"><img src=/<%= product.image %> class="img-thumbnail"></a>
              <div class="card-body">
                <p class="card-text"><%= product.name %></p>
                <p class="card-text"><%= product.price %>円</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "詳細", product, class: 'btn btn-sm btn-outline-secondary' %>
                    <%= link_to "編集", edit_product_path(product), class: 'btn btn-sm btn-outline-secondary' %>
                    <%= link_to "削除", product, method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-sm btn-outline-secondary' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- /.album  -->
</main>

<!-- <p id="notice"><%= notice %></p>

<h1>商品一覧</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>在庫数</th>
      <th>商品説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.stock %></td>
        <td><%= product.note %></td>
        <td><%= link_to '商品を見る', product %></td>
        <td><%= link_to '編集', edit_product_path(product) %></td>
        <td><%= link_to '削除', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
